.card {
  width: 190px;
  height: 254px;
  background: rgb(38, 38, 38);
  box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.333);
}


.imge .Usericon {
  background-color: #414141;
  transform: translateX(10px) translateY(10px);
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.imge .UserName {
  background-color: #414141;
  width: 60px;
  height: 15px;
  border-width: 10px;
  border-radius: 5px;
  border-color: #262626;
  color: #262626;
  font-size: 15px;
  font-weight: bold;
  transform: translateX(70px) translateY(-35px);
}

.imge .Id {
  background-color: #414141;
  width: 100px;
  height: 15px;
  border-width: 10px;
  border-radius: 5px;
  border-color: #262626;
  color: #262626;
  font-size: 15px;
  font-weight: bold;
  transform: translateX(70px) translateY(-25px);
}

.Description {
  border-color: #141414;
  background-color: #414141;
  transform: translate(5px, 6px);
  width: 180px;
  height: 130px;
  border-radius: 5px;
}

/*______Social Media______*/




.Social_Media a svg {
  color: #ff5858;
  width: 20px;
  fill: currentColor;
}

.card_design {
  border-radius: 25px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 13px 13px 100px #5a5a5a,
    -13px -13px 100px #ffffff;
}